# Jupyter notebook stuff
.ipynb_checkpoints

# General
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
._*
*.~lock*


# Jupyter book
book/_build/
book/features
in-progress
scraps

# VS Code
.vscode