# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
matplotlib
jupyter-book
bokeh
bs4
requests
twarc
git+https://github.com/maria-antoniak/little-mallet-wrapper.git
sklearn
spacy
regex
seaborn
